body {
  margin: 0;
  word-break: keep-all;
}
.selected {
  font-weight: bold;
  color: #c8d6e5 !important;
}
.underline {
  text-decoration: underline;
  text-underline-position: under;
}
.color-nav {
  background-color: #2c3a47;
  color: "white";
}
